*
{
  margin: 0;
  padding: 0;
}

html,
body {
  background: #0080ff;
}

section {
  height: 100vh;
  width: 100%;
}

video {
  position: fixed;
  z-index: 1;
  top:0;
}

#cvs
{
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: 2;
}
